/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Jost", sans-serif;
}
.sub__title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.nd__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
p.my__title {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 28px;
  color: #696969;
}
a.read {
  font-size: 17px;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}
a.read:hover,
a.title__head {
  color: #189a46;
}
ul li {
  list-style-type: none;
}
.button__style {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 35px;
  border-radius: 10px;
  display: inline-block;

  background: #189a46;
  border-color: #189a46;
  color: #fff;
  margin-top: 1em;
}
.button__style:hover {
  color: #fff;
  background: #116e32;
}
/* SUN TOGGLE */
.gg-sun {
  display: block;
  width: 24px;
  height: 24px;

  position: relative;
  transform: scale(1, 1);
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  border: 6px solid transparent;
  box-shadow: inset 0 0 0 2px;
}
.gg-sun::before,
.gg-sun::after {
  content: "";
  position: absolute;
  height: 2px;
  left: -6px;
  top: 5px;
  border-right: 4px solid;
  border-left: 4px solid;

  display: block;
  width: 24px;
}
.gg-sun::before {
  transform: rotate(-45deg);
}
.gg-sun::after {
  transform: rotate(45deg);
}
/* MOON TOGGLE */
.mode-container i.gg-moon {
  display: block;
}
.gg-moon {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(1, 1);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}
.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  border-radius: 50%;
}
/* LIGHT THEME */
#myBody {
  background-color: white;
}
#switchToggle .gg-sun {
  display: none;
}
#switchToggle .gg-moon {
  display: block;
}
/* DARK THEME */
.dark#myBody {
  background-color: black;
}
.dark #switchToggle .gg-moon {
  display: none;
}
.dark #switchToggle .gg-sun {
  display: block;
  color: white;
}
.dark .nav-fixed {
  background: black;
}
.dark h3.nd__title {
  color: #ddd;
}
.dark p.my__title {
  color: #afafaf;
}
.dark .offer__text ul li span.fa {
  background: #222;
}
.dark .offer__text ul li {
  color: #ddd;
}
.dark #service {
  background: #222;
}
/* responsive */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1478px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* HEADER */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header.nav-fixed {
  background: #fff;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.navbar .navbar-brand {
  font-size: 34px;
  font-weight: 600;
  color: #189a46;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
}
a.nav-link::before {
  content: " ";
  position: absolute;
  width: 0;
  background: #189a46;
  height: 1px;
  bottom: 14px;
  transition: all 0.5s;
}
a.nav-link:hover::before {
  width: 80%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #189a46;
}
li a.search-search {
  background: rgba(147, 107, 232, 0.05);
  color: #189a46;
  font-size: 1rem;
  width: 45px;
  height: 45px;
  line-height: 34px;
  border-radius: 45px;
  display: inline-block;
  text-align: center;
  border: none;
  transition: all 0.5s;
}
li a.search-search:hover {
  background: #189a46;
  color: #fff;
}
li.nav-item {
  padding: 0 12px;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #189a46;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.2em;
  font-weight: 400;
  color: #000c04;
  position: relative;
  transition: all 0.5s;
}
.theme-switch {
  display: inline-block;
  width: 60px;
  position: relative;
  margin: 0;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
}
.mode-container i.gg-sun {
  display: none;
}
/* responsive HEADER */
@media only screen and (max-width: 991px) {
  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: #189a46;
    border-radius: 5px;
  }
  .navbar-nav{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #404040;
    background: #fff;
  }
  header.main-header{
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item.HeaderSearch{
    text-align: left;
  }
  a.nav-link:hover::before {
  width: 0;
}
}

/* BANNER */
#carouselPoochCaptions .carousel-caption {
  transform: translate(5%, -40%);
}
.carousel-inner .banner-infor-bg {
  max-width: 700px;
}
.carousel .banner__top1,
.banner__top3,
.banner__top4 {
  background: url(../image/banner1.jpg);
  background-size: cover;
  height: 100vh;
  background-position: top;
}
.carousel .banner__top2 {
  background: url(../image/banner2.jpg);
  background-size: cover;
  height: 100vh;
}
.carousel .banner__view {
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}
.carousel .banner__view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background-color: #0c0c0c;
  opacity: 0.6;
  z-index: -1;
}
.carousel-indicators li {
  border-radius: 25px;
  background: #fff;
  height: 10px;
  width: 10px;
  margin: 1px 8px;
  border-top: 0;
  border-bottom: 0;
}
.carousel-indicators .active,
.carousel-indicators li:hover {
  background: #189a46;
  width: 30px;
  border-radius: 25px;
  opacity: 1;
}
.btn-white {
  background: #fff;
  color: #189a46;
  border-color: #fff;
}
.btn-white:hover {
  background: #fff;
  color: #189a46;
}
#carouselPoochCaptions .border-btn {
  background: transparent;
  border: 2px solid #fff;
}
#carouselPoochCaptions .border-btn:hover {
  background: #fff;
  color: #189a46;
}
.banner__infor h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  text-transform: capitalize;
}
.carousel-inner .banner__infor p {
  font-weight: 400;
  line-height: 30px;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 1.2em;
}

/* ABOUT */
.titlePooch.align-items-center {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

/* responsive ABOUT */
@media (max-width: 600px) {
  .nd__title {
    font-size: 32px;
    line-height: 38px;
  }
}
/* SERVICE */
#service {
  background: rgba(147, 107, 232, 0.05);
}
.grid__service .area__box {
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;
}
.icon span.fa {
  color: #189a46;
  font-size: 30px;
}
.area__box h4 a {
  color: #000c04;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  line-height: 1.2;
}
.area__box p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.grid__service {
  margin-bottom: 30px;
}
.grid__service .area__box:hover {
  background: rgba(147, 107, 232, 0.05);
}
/* OFFER */
.offer__img img {
  border-radius: 10px;
}
.offer__text p {
  color: #696969;
  line-height: 24.5px;
  margin: 15px 0 35px 0;
}
.offer__text ul li {
  line-height: 26px;
  margin: 15px 0;
  font-weight: 600;
  color: #000c04;
}
.offer__text ul li span.fa {
  color: #189a46;
  background: rgba(147, 107, 232, 0.05);
  border-radius: 50%;
  font-size: 10px;
  padding: 8px;
  margin-right: 12px;
  display: inline-block;
}
.offer__text {
  align-self: center;
}
/* responsive OFFER */
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* NUMBER */
.number {
  background: #189a46;
  padding: 3rem 0;
}
.number__info p {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
}
.number__info h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 10px;
  opacity: 0.8;
  color: #fff;
}
.number__info {
  text-align: center;
}
/* Responsive NUMBER */
@media (max-width: 992px) {
  .number__info p {
    font-size: 40px;
    line-height: 50px;
  }
  .number__info h4 {
    font-size: 18px;
  }
}

@media (max-width: 737px) {
  .number__info p {
    font-size: 35px;
    line-height: 38px;
    margin-top: 20px;
  }
  .number__info h4 {
    font-size: 17px;
  }
}

/* PACKAGES */
.package {
  background: rgba(147, 107, 232, 0.05);
}
.package__main .package__sec.row {
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
.package__body {
  padding: 3.5em 2.5em;
  background: #fff;
  border-radius: 6px;
}
.package__main .package__free .package__body {
  border-right: 0;
}
.package__main .package__pro .package__body {
  border-left: 0;
}

.package__body a,
.package__stand a {
  text-decoration: none;
}
.package__main .package__top h6 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.package__main .package__top h4 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
  color: #189a46;
  margin: 15px 0 20px;
}
.package__main .package__top h4 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999;
}
.package__main .package__top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}
.package__bottom {
  text-align: center;
  margin-top: 1em;
}
.package__text li {
  margin-bottom: 5px;
  color: #696969;
  font-size: 18px;
  line-height: 28px;
  padding-top: 6px;
}
/* Standard Package */
.package__stand .stand__body .package__top {
  background: #189a46;
  padding: 3em 2.5em 0.5em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.stand__body .package__top {
  text-align: center;
}
.stand__body {
  background: rgba(147, 107, 232, 0.05);
}
.stand__body .package__top h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #189a46;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 30px;
}
.package__main .package__stand.active .package__top h6,
.package__stand.active .package__top h4,
.package__stand.active .package__top span {
  color: #fff;
}
.package .sub__title {
  text-transform: capitalize;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.package__stand .package__bottom {
  padding: 2em 2.5em 3.5em;
  background: #fff;
  margin-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.package__stand.col-lg-4.active {
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  z-index: 10;
}
.package__main .package__align {
  align-self: center;
}
/* Video Pooch Popup */
.video__pooch .video__content {
  padding: 2rem 0;
}
.video__pooch .banner2 {
  border-radius: 10px;
}
.video__pooch .middle-section {
  max-width: 950px;
  margin: 0 auto;
}
.video__img .play__view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.video__img a.play__view {
  color: #189a46;
}
.video__img span.video__icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: all 0.3s;
  animation: ripple 1s linear infinite;
}
#my-popup {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#my-popup iframe {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}
/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* TESTIMONALS */
.test {
  background: rgba(147, 107, 232, 0.05);
}
.test blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.test blockquote q::before {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.8;
  color: #189a46;
  display: inline-block;
  padding-top: 8px;
}
.test .test__text blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin: 0 1.5em 1.5em;
}
.test .test__text {
  display: block;
  padding: 40px 30px;
  background: #fff;
  position: relative;
  border: none;
  border-radius: 10px;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
p.indentity {
  font-size: 17px;
  color: #777;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.test__text .des__title h3 {
  font-size: 20px;
  margin: 0;
}
.des__title {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}
.test .test__des {
  display: flex;
  text-align: center;
}
.align-self {
  align-self: center;
}
.test .test__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.test .test__item {
  width: 515px;
  margin-right: 20px;
}
.test .test__width {
  max-width: 1050px;
  margin: auto;
}
.slick-dots {
  position: inherit;
  margin-top: 80px;
  bottom: 30px;
  left: 0;
  right: 0;
}
.slick-dots li {
  margin: 0 13px;
}
.slick-dots li button::before {
  font-size: 10px;
}
.slick-dots li.slick-active button::before {
  opacity: 0;
}
.slick-dots li.slick-active button,
.slick-dots li button:hover {
  background: #189a46;
  width: 30px;
  height: 10px;
  border-radius: 25px;
}
.slick-dots li button:hover::before {
  color: transparent;
}
.slick-slider .slick-list {
  /* padding-right: -20px; */
  gap: 20px;
}
/* FORM POOCH  */
.form__pooch .subscribe {
  max-width: 650px;
}
.form__pooch .subscribe__form {
  justify-content: space-between;
}
.form__pooch .subscribe__form .btn {
  flex-basis: 27%;
  margin: 0;
  text-align: center;
}
.form__pooch .subscribe input.form-control {
  flex-basis: 70%;
  border-radius: 10px;
  padding: 0 20px;
  height: 60px;
}
.form__pooch .button__style {
  padding: 15px 35px;
}
/* FORM POOCH RESPONSIVE */
@media only screen and (max-width: 667px) {
  .form__pooch .subscribe__form .btn {
    flex-basis: 100%;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
  .nd__title {
    font-size: 32px;
    line-height: 38px;
    color: #ddd;
  }
}

/* FOOTER */
.footer {
  background: #111;
}
.footer h6.footer__title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 25px;
}
.footer ul.social__icon {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.footer ul.social__icon li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}
.footer .footer__list ul li {
  margin-bottom: 5px;
  list-style: none;
}
.footer .footer__list ul li p {
  color: #696969;
  font-weight: normal;
  line-height: 28px;
}
.footer .footer__list ul li a {
  color: #696969;
  line-height: 28px;
}
.footer .footer__list ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .footer__copyright a {
  color: #f53626;
  opacity: 0.9;
}
.footer .footer__copyright {
  color: #696969;
  line-height: 28px;
  margin-bottom: 0;
}
.footer__bottom {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
/* FOOTER RESPONSIVE */
@media screen and (max-width: 600px) {
  .footer__pooch .footer__top {
    grid-gap: 20px;
  }
}

/* BACK TO TOP  */
.backToTop {
  position: fixed;
  right: 20px;
  bottom: 60px;

  visibility: hidden;
  opacity: 0;
}
.backToTop i {
  background: #189a46;
  color: #fff;
  border: 2px solid #189a46;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
